<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Login Page</title>
</head>
<body>
    <div class="containal">
        <h2>Login Form</h2>
        <form action="/index.js" method="POST">
            <input type="text" id="user" name="user" placeholder="Username"><br>
            <input type="email" id="email" name="email" placeholder="Email"><br>

            <select name="country" id="country">
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="NG">Nigeria</option>
                <option value="GB">United Kingdom</option>
                <option value="IN">India</option>
            </select><br>

            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="password" id="confirm" name="confirm" placeholder="Confirm Password"><br><br>
X
            <button type="submit">Login</button>
        </form>
    </div>

    <script src="index.js"></script>
    <!-- <script src="login.js"></script> -->
</body>
</html>
